@font-face {
  font-family: "Comic Sans";
  src: url("/fonts/Comic Sans MS.ttf")
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-font-smoothing: none;
}